.bio__portrait,
.bio__title,
.bio__text,
.bio__button {
    @include breakpoint($bp-1200) {
        transform: translateY(60px);
        opacity: 0;
        transition: all 1s ease;
    }
}

.bio__title {
    margin-top: $px-60;
}

.bio__text {
    margin-top: $px-15;

    @include breakpoint($bp-900) {
        width: 80%;
    }

    @include breakpoint($bp-1200) {
        width: 55%;
    }
}

.bio__gallery {
    color: #ec644a;
    text-decoration: none;
}

.bio__button {
    margin-top: $px-60;
}

.bio__button-text {
    background-color: $primary;
    color: $white;
}