.bio__title {
    @include breakpoint($bp-900) {
        margin-top: $px-60;
    }
}

.bio__text {
    margin-top: $px-15;
    text-align: center;

    @include breakpoint($bp-900) {
        width: 80%;
        text-align: left;
    }

    @include breakpoint($bp-1200) {
        width: 55%;
    }
}

.bio__gallery {
    color: #ec644a;
    text-decoration: none;
}

.bio__button {
    margin-top: $px-60;
}

.bio__button-text {
    color: $white;
}