.contact__title {
    @include secondary__title();
}

.contact__icons {
    @include flex-list();

}

.contact__icons-item {
    padding: $px-30 0.9rem;
    list-style-type: none;

    @include breakpoint($bp-600) {
        padding: $px-30;
    }
}

.contact__icons-link {
    display: block;
    transition: transform .2s;            
}

.contact__icons-link:hover {
    transform: scale(1.1);
}

.contact__icons-svg {
    pointer-events: none;
}

.contact__link {
    margin-top: $px-30;
    display: block;
    color: #666;
    text-decoration: none;
}

.contact--gallery {
    background-color: #fff;
}