.gallery {
    .gallery__container {
        margin-top: 0;
    }

    .gallery__list {
        // display: flex;
        // flex-wrap: wrap;
        column-count: 3;
        column-gap: 0;
    }

    .gallery__item {
        // flex-grow: 1;
        list-style-type: none;

        // @include breakpoint($bp-600) {
        //     width: 40%;
        // }

        // @include breakpoint($bp-1200) {
        //     width: 30%;
        // }
    }

    .gallery__img {
        width: 100%;
        float: left;
        filter: grayscale(100%);
        transition: filter 1s;
    }

    .gallery__img:hover {
        filter: grayscale(0%);
    }
}