.tech {
    background-color: #ffffff;
}

.tech__box {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .1s;
}

.tech__primary {
    @include flex-list();
    justify-content: space-evenly;
    margin-top: $px-15;

    @include breakpoint($bp-600) {
        width: 750px;
    }
}

.tech__primary-item {
    margin-top: $px-15;

    @include breakpoint($bp-600) {
        margin: 0;
        padding: $px-30;
    }
}

.tech__primary-box {
    width: 5.625rem;
    height: 5.625rem;
}

.tech__primary-text {
    color: $white;
    font-size: 1.125rem;
    letter-spacing: 1px;
    text-align: center;
}