.tech {
    // @include section(); // height: 100vh;
    background-color: #ffffff;

    .tech__container {
        // @include section-container();
        @include column-center();
    }

    .tech__title {
        @include secondary__title();
    }

    .tech__primary {
        @include flex-list();
        width: 100%;
        margin-top: $px-30;

        @include breakpoint($bp-600) {
            width: 53.5%;
        }

        @include breakpoint($bp-900) {
            width: 362px;

            li:nth-child(1) {
                border-top: none;
                border-left: none;
            }
            li:nth-child(2) {
                border-top: none;
                border-right: none;
            }
            li:nth-child(3) {
                border-left: none;
            }
            li:nth-child(4) {
                border-right: none;
            }
            li:nth-child(5) {
                border-bottom: none;
                border-left: none;
            }
            li:nth-child(6) {
                border-bottom: none;
                border-right: none;
            }
        }

        .primary__item {
            margin: auto;
            padding: 1.18rem; // border: 1px solid $text;
            list-style-type: none;

            @include breakpoint($bp-900) {
                margin: 0;
                padding: 2.813rem;
                border: 1px solid #CCCCCC;
            }
        }

        .primary__box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5.625rem;
            height: 5.625rem;
            background-color: $primary;
            transition: background-color .3s;
        }

        .primary__text {
            color: $white;
            text-transform: uppercase;
            font-size: 1.125rem;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }

    .tech__secondary {
        @include flex-list();
        margin-top: $px-30;

        .secondary__item {
            margin: auto;
            list-style-type: none;
            padding: 0.65rem;

            @include breakpoint($bp-900) {
                padding: 0 0.9375rem;
            }
        }

        .secondary__box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.75rem;
            height: 3.75rem;
            background-color: $primary;
            transition: background-color .3s;
        }

        .secondary__text {
            color: $white;
            font-size: 0.875rem;
            font-weight: 300;
            text-align: center;
        }
    }
}