.footer {
    background-color: #ffffff;

    .footer__container {
        text-align: center;
    }
    
    .msg__highlight {
        color: #666;
    }
}

.footer--gallery {
    background-image: url('../images/background-tile.png');
}