.footer {
    // @include section();
    background-color: #ffffff;

    .footer__container {
        // @include section-container();
        @include column-center();
        text-align: center;
    }
    
    .msg__highlight {
        color: #666;
    }
}

.footer--gallery {
    background-color: $background;
}