@mixin breakpoint($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin column-center() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin secondary__title() {
    text-transform: uppercase;
    font-weight: 300;
    color: #666;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 2px;
}

@mixin flex-list() {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

//ANIMATION
@keyframes upDown {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(0)
    }
}

.animate-in {
    transform: translateX(0px) !important;
    opacity: 1 !important;
}

.fade-in {
    opacity: 1 !important;
}

.page-section {
    padding: $px-60 0;
}

.section-holder {
    @include column-center();
    width: 90%;
    max-width: 71.25rem;
    margin: auto;
    
    @include breakpoint($bp-600) {
        width: 80%;
    }
}
