@mixin breakpoint($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin column-center() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-list() {
    display: flex;
    flex-wrap: wrap;
}

//ANIMATION
@keyframes upDown {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(0)
    }
}

.secondary__title {
    text-transform: uppercase;
    font-weight: normal;
    color: #666;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 2px;
}

.animate-in {
    transform: translateX(0px) !important;
    opacity: 1 !important;
}

.fade-in {
    transform: translateX(0px) !important;

    .tech__primary-box {
        opacity: 1 !important;
    }
}

.page-section {
    padding: $px-60 0;
}

.section-holder {
    @include column-center();
    width: 90%;
    max-width: 71.25rem;
    margin: auto;
    
    @include breakpoint($bp-600) {
        width: 80%;
    }
}

.btn {
    width: 220px;
    text-align: center;

    @include breakpoint($bp-600) {
        width: 12.5rem;
    }
}

.btn__text {
    display: block;
    padding: $px-15 $px-45;
    font-size: 1.125rem;
    text-decoration: none;
    letter-spacing: 1px;
    // font-weight: 300;
    transition: all .15s ease;

    @include breakpoint ($bp-600) {
        font-size: 1rem;
    }

    &:hover {
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    }

    &:active {
        transform: translateY(1px);
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    }
}
