body {
  font-size: 16px;
  line-height: 1.8;
  font-family: "Lato", sans-serif, helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  background-color: #f3f3f3;
  background-image: url("../images/background-tile.png");
  color: #888888; }

html,
body {
  height: 100%; }

li {
  list-style-type: none; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  overflow: visible;
  z-index: 2; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #f6f6f6;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: #666666; }

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  background-color: #666666; }

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: #666666; }

@keyframes upDown {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0); } }

.secondary__title {
  text-transform: uppercase;
  font-weight: normal;
  color: #666;
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: 2px; }

.animate-in {
  transform: translateX(0px) !important;
  opacity: 1 !important; }

.fade-in {
  transform: translateX(0px) !important; }
  .fade-in .tech__primary-box {
    opacity: 1 !important; }

.page-section {
  padding: 3.75rem 0; }

.section-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 71.25rem;
  margin: auto; }
  @media screen and (min-width: 37.5rem) {
    .section-holder {
      width: 80%; } }

.btn {
  width: 220px;
  text-align: center; }
  @media screen and (min-width: 37.5rem) {
    .btn {
      width: 12.5rem; } }

.btn__text {
  display: block;
  padding: 0.9375rem 2.813rem;
  font-size: 1.125rem;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all .15s ease; }
  @media screen and (min-width: 37.5rem) {
    .btn__text {
      font-size: 1rem; } }
  .btn__text:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); }
  .btn__text:active {
    transform: translateY(1px);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }

.header {
  width: 100%;
  color: #f6f6f6;
  transition: background-color .1s;
  padding-bottom: 1.875rem; }
  @media screen and (min-width: 56.25rem) {
    .header {
      height: 100vh;
      padding-bottom: 0; } }

.header__container {
  align-items: initial;
  position: relative;
  height: 100%; }

@media screen and (min-width: 56.25rem) {
  .header::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    transition: background-color .1s;
    transform: skewY(-20deg); } }

.header-gallery {
  width: 100%;
  color: #f6f6f6;
  font-weight: 300;
  transition: background-color .1s;
  padding-bottom: 1.875rem; }
  @media screen and (min-width: 56.25rem) {
    .header-gallery .main__img {
      width: 3rem; } }

.header-gallery__container {
  align-items: initial;
  position: relative;
  height: 100%; }
  .header-gallery__container .header__hero {
    margin: 1.875rem 0; }

.header__mb-menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.875rem; }
  @media screen and (min-width: 56.25rem) {
    .header__mb-menu {
      display: none; } }

.header__nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  background-color: #f6f6f6;
  font-size: 1.5em;
  transition: 0.3s;
  display: none; }
  @media screen and (min-width: 56.25rem) {
    .header__nav {
      margin-top: 3.75rem;
      height: auto;
      position: static;
      top: auto;
      left: auto;
      background-color: transparent;
      overflow-x: auto;
      transition: none;
      font-size: 0.875rem;
      display: block; } }

.header__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center; }
  @media screen and (min-width: 56.25rem) {
    .header__nav-list {
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 0; } }

.header__nav-item {
  padding-bottom: 2.813rem;
  list-style-type: none; }
  @media screen and (min-width: 56.25rem) {
    .header__nav-item {
      padding-right: 2.813rem;
      padding-bottom: 0; } }

.header__nav-item:last-child {
  padding: 0; }

.header__nav-link {
  color: #888888;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px; }
  @media screen and (min-width: 56.25rem) {
    .header__nav-link {
      color: #f6f6f6;
      display: block;
      transition: transform .2s; } }

.header__nav-link:hover {
  transform: translateY(-3px); }

.header__hero {
  margin-top: 1.875rem;
  text-align: center;
  font-size: 2rem; }
  @media screen and (min-width: 56.25rem) {
    .header__hero {
      margin: auto; } }

.header__hero-img {
  width: 8rem; }

.header__title,
.header__secondary-title {
  font-weight: 300; }

.header__title {
  font-size: 3rem;
  line-height: 1.25em;
  letter-spacing: 1px;
  text-transform: uppercase; }

.header__secondary-title {
  font-size: 0.75em; }
  @media screen and (min-width: 56.25rem) {
    .header__secondary-title {
      font-size: 2rem; } }

.header__scroll {
  margin-top: 1.875rem;
  text-align: center; }
  @media screen and (min-width: 56.25rem) {
    .header__scroll {
      margin: auto; } }

.header__scroll-arrow {
  padding: 1.875rem;
  animation: upDown 2s infinite; }

.footer {
  background-color: #ffffff; }
  .footer .footer__container {
    text-align: center; }
  .footer .msg__highlight {
    color: #666; }

.footer--gallery {
  background-image: url("../images/background-tile.png"); }

.gallery .gallery__container {
  margin-top: 0; }

.gallery .gallery__list {
  column-count: 1;
  column-gap: 0; }
  @media screen and (min-width: 37.5rem) {
    .gallery .gallery__list {
      column-count: 2; } }
  @media screen and (min-width: 56.25rem) {
    .gallery .gallery__list {
      column-count: 3; } }

.gallery .gallery__item {
  list-style-type: none; }

.gallery .gallery__img {
  width: 100%;
  float: left;
  filter: grayscale(100%);
  transition: filter 1s; }

.gallery .gallery__img:hover {
  filter: grayscale(0%); }

@media screen and (min-width: 56.25rem) {
  .bio__title {
    margin-top: 3.75rem; } }

.bio__text {
  margin-top: 0.9375rem;
  text-align: center; }
  @media screen and (min-width: 56.25rem) {
    .bio__text {
      width: 80%;
      text-align: left; } }
  @media screen and (min-width: 75rem) {
    .bio__text {
      width: 55%; } }

.bio__gallery {
  color: #ec644a;
  text-decoration: none; }

.bio__button {
  margin-top: 3.75rem; }

.bio__button-text {
  color: #f6f6f6; }

.tech {
  background-color: #ffffff; }

.tech__box {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .1s; }

.tech__primary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 0.9375rem; }
  @media screen and (min-width: 37.5rem) {
    .tech__primary {
      width: 750px; } }

.tech__primary-item {
  margin-top: 0.9375rem; }
  @media screen and (min-width: 37.5rem) {
    .tech__primary-item {
      margin: 0;
      padding: 1.875rem; } }

.tech__primary-box {
  width: 5.625rem;
  height: 5.625rem; }

.tech__primary-text {
  color: #f6f6f6;
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-align: center; }

.contact__icons {
  display: flex;
  flex-wrap: wrap; }

.contact__icons-item {
  padding: 1.875rem;
  list-style-type: none; }

.contact__icons-item:first-child {
  padding-left: 0; }

.contact__icons-item:last-child {
  padding-right: 0; }

.contact__icons-link {
  display: block;
  transition: transform .2s; }

.contact__icons-link:hover {
  transform: scale(1.1); }

.contact__icons-svg {
  pointer-events: none; }

.contact__link {
  margin-top: 1.875rem;
  display: block;
  color: #666;
  text-decoration: none; }

.contact--gallery {
  background-color: #fff; }

.projects__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center; }
  @media screen and (min-width: 1400px) {
    .projects__list {
      justify-content: space-between; } }

.projects__item {
  list-style-type: none;
  padding: 0.625rem 0; }
  @media screen and (min-width: 56.25rem) {
    .projects__item {
      margin-right: 0.9375rem; } }

.projects__holder {
  width: 100%;
  padding: 3.75rem 0.9375rem;
  text-align: center; }
  @media screen and (min-width: 37.5rem) {
    .projects__holder {
      width: 22.5rem; } }

.projects__item:not(:first-child) {
  margin-top: 1.875rem; }
  @media screen and (min-width: 56.25rem) {
    .projects__item:not(:first-child) {
      margin-top: 0; } }

.projects__title,
.projects__text {
  color: #f6f6f6; }

.projects__title {
  letter-spacing: 1px; }

.projects__text {
  margin-top: 1.875rem; }

.projects__button {
  margin: 1.875rem auto 0 auto;
  width: 12.5rem; }

.projects__button-text {
  background-color: #f6f6f6;
  color: #888888; }
