* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  overflow: visible;
  z-index: 2; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #f6f6f6;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: #666666; }

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  background-color: #666666; }

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: #666666; }

@keyframes upDown {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0); } }

body {
  font-size: 16px;
  line-height: 1.8;
  font-family: "Lato", sans-serif, helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  background-color: #f6f6f6;
  color: #888888; }

html,
body {
  height: 100%; }

.header {
  width: 100%;
  height: 100vh;
  color: #f6f6f6;
  font-weight: 300; }
  .header .header__container {
    width: 80%;
    max-width: 71.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%; }

.header::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: skewY(-20deg);
  content: '';
  background-color: #3C7A89;
  transition: background-color .3s; }

.gallery-header {
  width: 100%;
  color: #f6f6f6;
  font-weight: 300;
  background-color: #3C7A89;
  transition: background-color .3s; }
  .gallery-header .gallery-header__container {
    width: 80%;
    max-width: 71.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%; }
    .gallery-header .gallery-header__container .main {
      margin: 3.75rem; }

.gallery .gallery__container {
  margin-top: 0; }

.gallery .gallery__list {
  display: flex;
  flex-wrap: wrap; }

.gallery .gallery__item {
  flex-grow: 1;
  list-style-type: none; }

.gallery .gallery__img {
  width: 100%;
  float: left;
  filter: grayscale(100%);
  transition: filter 1s; }

.gallery .gallery__img:hover {
  filter: grayscale(0%); }

.mb-menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 3.75rem; }

body {
  transition: margin-left .5s; }

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  background-color: #f6f6f6;
  font-size: 1.5em;
  transition: 0.3s;
  display: none; }
  .nav .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center; }
  .nav .nav__item {
    padding-bottom: 2.813rem;
    list-style-type: none; }
  .nav .nav__link {
    color: #888888;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px; }

.main {
  margin: auto;
  text-align: center;
  font-size: 2rem; }
  .main .main__img {
    width: 6rem; }
  .main .main__title,
  .main .main__secondaryTitle {
    font-weight: 300; }
  .main .main__title {
    font-size: 0.8em;
    line-height: 1.25em;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .main .main__secondaryTitle {
    font-size: 0.75em; }

.scroll {
  margin: auto;
  text-align: center; }
  .scroll .scroll__arrow {
    padding: 1.875rem;
    animation: upDown 2s infinite; }

.bio {
  padding: 3.75rem 0; }
  .bio .bio__container {
    width: 80%;
    max-width: 71.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .bio .bio__title {
    text-transform: uppercase;
    font-weight: 300;
    color: #666;
    font-size: 1.5rem;
    line-height: 100%;
    margin-top: 0.9375rem; }
  .bio .bio__text {
    margin-top: 0.9375rem; }

.button {
  margin-top: 3.75rem;
  width: 100%;
  text-align: center;
  font-size: 1rem; }
  .button .button__text {
    display: block;
    padding: 0.9375rem 2.813rem;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #3C7A89;
    color: #f6f6f6;
    font-weight: 300;
    transition: all .15s ease; }
    .button .button__text:hover {
      transform: translateY(-1px);
      box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
      opacity: 0.8; }
    .button .button__text:active {
      transform: translateY(1px);
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }

.tech {
  padding: 3.75rem 0;
  background-color: #ffffff; }
  .tech .tech__container {
    width: 80%;
    max-width: 71.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .tech .tech__title {
    text-transform: uppercase;
    font-weight: 300;
    color: #666;
    font-size: 1.5rem;
    line-height: 100%; }
  .tech .tech__primary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-top: 1.875rem; }
    .tech .tech__primary .primary__item {
      margin: auto;
      padding: 1.18rem;
      list-style-type: none; }
    .tech .tech__primary .primary__box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5.625rem;
      height: 5.625rem;
      background-color: #3C7A89;
      transition: background-color .3s; }
    .tech .tech__primary .primary__text {
      color: #f6f6f6;
      text-transform: uppercase;
      font-size: 1.125rem;
      font-weight: 300;
      letter-spacing: 1px; }
  .tech .tech__secondary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1.875rem; }
    .tech .tech__secondary .secondary__item {
      margin: auto;
      list-style-type: none;
      padding: 0.65rem; }
    .tech .tech__secondary .secondary__box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.75rem;
      height: 3.75rem;
      background-color: #3C7A89;
      transition: background-color .3s; }
    .tech .tech__secondary .secondary__text {
      color: #f6f6f6;
      font-size: 0.875rem;
      font-weight: 300;
      text-align: center; }

.contact {
  padding: 3.75rem 0; }
  .contact .contact__container {
    width: 80%;
    max-width: 71.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .contact .contact__title {
    text-transform: uppercase;
    font-weight: 300;
    color: #666;
    font-size: 1.5rem;
    line-height: 100%; }
  .contact .icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
    .contact .icons .icons__item {
      padding: 1.875rem 0.9rem;
      list-style-type: none; }
    .contact .icons .icons__link {
      display: block; }
    .contact .icons .icons__svg {
      pointer-events: none; }
  .contact .contact__link {
    margin-top: 1.875rem;
    display: block;
    color: #666;
    text-decoration: none; }

.footer {
  padding: 3.75rem 0;
  background-color: #ffffff; }
  .footer .footer__container {
    width: 80%;
    max-width: 71.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .footer .msg__highlight {
    color: #666; }

@media screen and (min-width: 37.5rem) {
  .main .main__title {
    font-size: 1.5em; }
  .main .main__img {
    width: 8rem; }
  .gallery .gallery__item {
    width: 40%; }
  .button {
    width: 50%; }
  .tech .tech__primary {
    width: 53.5%; }
  .contact .icons .icons__item {
    padding: 1.875rem; } }

@media screen and (min-width: 56.25rem) {
  .main .main__title {
    font-size: 2em; }
  .main .main__secondaryTitle {
    font-size: 1em; }
  .main .main__img {
    width: 10.69rem; }
  .gallery-header .main__img {
    width: 3em; }
  .bio .bio__text {
    width: 80%; }
  .button {
    width: 12.5rem; }
  .tech .tech__primary {
    width: 362px; }
    .tech .tech__primary .primary__item {
      margin: 0;
      padding: 2.813rem;
      border: 1px solid #CCCCCC; }
    .tech .tech__primary li:nth-child(1) {
      border-top: none;
      border-left: none; }
    .tech .tech__primary li:nth-child(2) {
      border-top: none;
      border-right: none; }
    .tech .tech__primary li:nth-child(3) {
      border-left: none; }
    .tech .tech__primary li:nth-child(4) {
      border-right: none; }
    .tech .tech__primary li:nth-child(5) {
      border-bottom: none;
      border-left: none; }
    .tech .tech__primary li:nth-child(6) {
      border-bottom: none;
      border-right: none; }
  .tech .tech__secondary .secondary__item {
    padding: 0 0.9375rem; } }

@media screen and (min-width: 75rem) {
  .mb-menu {
    display: none; }
  .nav {
    margin-top: 3.75rem;
    height: auto;
    width: auto;
    position: static;
    top: auto;
    left: auto;
    background-color: transparent;
    overflow-x: auto;
    transition: none;
    font-size: 0.875rem;
    display: block; }
    .nav .nav__list {
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 0; }
    .nav .nav__item {
      padding-right: 2.813rem;
      padding-bottom: 0; }
    .nav .nav__item:last-child {
      padding: 0; }
    .nav .nav__link {
      color: #f6f6f6;
      display: block;
      transition: transform .2s; }
    .nav .nav__link:hover {
      transform: translateY(-3px); }
  .gallery .gallery__item {
    width: 30%; }
  .bio .bio__text {
    width: 55%; }
  .contact .contact__link {
    transition: transform .2s; }
  .contact .contact__link:hover {
    transform: translateY(-5px); } }
